@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.8vh 3vh;
}
form #search{
    width: 250px;
    border: 2px solid tomato;
    padding: 0.8vh 1.8vh;
    border-radius: 5px;
    color: tomato;
    outline: none;
}
::placeholder{
    color: tomato;
}
form .search-btn{
    padding: 1vh 2vh;
    border: none;
    outline: none;
    background-color: tomato;
    color: #fff;
    margin-left: 10px;
    border-radius: 5px;
}

.product-listing{
    width: 100%;        
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.card{
    width: 300px;
    display: flex;
    box-shadow: 5px 5px 10px grey;  
}
.card .img-container{
    width: 100px;
    border-right: 4px solid #acacac;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5vh;
}
.card .img-container img{
    width: 100%;
}
.card .contents{
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 2.5vh;
}
.contents .product-name{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
}
.contents .product-description{
    font-size: 14.5px;
    color: grey;
    max-height: 90px;
    overflow: hidden;
    margin-top: 0.5vh;
    margin-bottom: 1.8vh;
}
.contents button{
    align-self: flex-end;
    width: fit-content;
    padding: 0.8vh 1.2vh;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: tomato;
    font-size: 15px;
}

@media screen and (min-width:600px) {
    .card{
        width: 600px;  
    }
    .card .img-container{
        width: 150px;
    }
    .card .contents{
        width: calc(600px - 25%) ;
    }
    .contents .product-name{
        font-size: 18px;
    }
    .contents .product-description{
        max-height: 250px;
        font-size: 15px;
    }
    .contents button{
        font-size: 2.5vh;
    }
    
}